<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <h1>Here is <i>{{single_order.customer_name}}'s</i> order.</h1>
    <p>
        
        <b>Order Date:</b> {{single_order.order_date}}<br>
        <b>Game Title:</b> {{single_order.game_title}}<br>
        <b>Game Price:</b> £{{single_order.price}}<br>
        <b>Quantity:</b> {{single_order.quantity}}<br>
    </p>
</body>
</html>